.wrapper {
    display: grid;
    grid-template-areas: "header header header" 
    "asideleft main asideright"; 
    grid-template-rows: 50px 1fr;
    grid-template-columns: 2fr 8fr 2fr;
    height: 100vh;
}
.header {
    grid-area: header;
    background-color: white;
    color:white;
    text-align: center;
    padding: 7px;
    
    }
.asideleft  {
    grid-area: asideleft;
    background-color: thistle;
    padding: 20px;
    color:#2e7d32;
    
}

.asideright  {
    grid-area: asideright;
    background-color: thistle;
}


.main {
    background-color: #2e7d32;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.carCard {
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    padding: 16px;
    display: flex;
    height: 300px;
    flex-direction: column;
    transition: transform 0.2s, box-shadow 0.2s;
    background-color: black;
    
}

.carBrand {
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    height: 10px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s, box-shadow 0.2s;
    background-color: black;
    text-align: center;

}
.carBrand:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}
.carCard:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.carImage {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 12px;
}

.carName {
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 8px 0;
    color: white;
}

.carPrice {
    font-size: 16px;
    color: #2e7d32;
    font-weight: 500;
    margin: 0;
    /* margin-top: auto; */ /* прижимает цену к низу */
}
.sidebar ul li a{
    text-decoration: none;
}
.sidebar_ul {
    list-style-type: none;
}